{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.record_view'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.record_view'|trans({'%id%': record.id|default('')}) }}</h1>
    <a href="{{ url('record_index') }}">{{ 'label.back_to_record_list'|trans }}</a>

    {% if record is defined and record|length %}
        <dl>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ record.title }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ record.content }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>{{ record.tags|join(', ') }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}