{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'category.updatedAt') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td><a href="{{ url('category_show', {id: category.id}) }}" class="no_underline">{{ category.title }}</a></td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}